<app-sales-header [title]="title"></app-sales-header>
<main>
    <form *ngIf="myForm" [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate class="add-item">
        <div formArrayName="formArray">
            <div *ngFor="let control of myForm.controls['formArray'].controls; let i = index" class="delBtnCentry">
                <button type="button" (click)="delInput(i)" class="delBtn"></button>
                <app-add-group [myForm]="myForm.controls.formArray.controls[i]" [tradeDrugs]="tradeDrugs"></app-add-group>
            </div>
        </div>
        <input type="button" (click)="addInput()" value="Додати препарат">
        <input type="submit" [disabled]="!myForm.valid" value="Додати замовлення в корзину">
    </form>
</main>